// variables
@white: #fff;
@black: #000;
@blue: #06C;

// mixins
.gradient(@color1, @color2) {
	background: @color1; /* Old browsers */
	background: -moz-linear-gradient(top,  @color1 0%, @color2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@color1), color-stop(100%,@color2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  @color1 0%,@color2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  @color1 0%,@color2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  @color1 0%,@color2 100%); /* IE10+ */
	background: linear-gradient(to bottom,  @color1 0%,@color2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@color1', endColorstr='@color2',GradientType=0 ); /* IE6-9 */
}

.transition(@time, @target, @type) {
	transition: @time @target @type;
	-webkit-transition: @time @target @type;
}

// reset
* {
	border-box: border-box;
	-moz-border-box: border-box;
	-webkit-border-box: border-box;
	margin: 0;
	padding: 0;
	position: relative;
}

html,
body {
	font: 16px/1 Arial;
	.gradient(@blue, lighten(@blue, 20%));
	height: 100%;
	width: 100%;
}

// main styles
header {
	nav {
		span {
			background-color: @white;
			border-radius: 2em;
			color: @blue;
			cursor: pointer;
			display: block;
			font-size: 10vw;
			height: 10vw;
			margin: 1rem;
			position: absolute;
			text-align: center;
			width: 10vw;

			&:after {
				content: "+";
			}

			&.visible {
				&:after {
					content: "–";
				}
			}
		}
	}
}

// media queries

