// variables
@import url(http://fonts.googleapis.com/css?family=Cutive+Mono);

@white: #fff;
@black: #000;
@blue: #06C;
@monoFont: 'Cutive Mono', serif;

// mixins
.gradient(@color1, @color2) {
	background: @color1;
	background: -moz-linear-gradient(top,  @color1 0%, @color2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@color1), color-stop(100%,@color2));
	background: -webkit-linear-gradient(top,  @color1 0%,@color2 100%);
	background: -o-linear-gradient(top,  @color1 0%,@color2 100%);
	background: -ms-linear-gradient(top,  @color1 0%,@color2 100%);
	background: linear-gradient(to bottom,  @color1 0%,@color2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@color1', endColorstr='@color2',GradientType=0 );
}

.transition(@time: 200ms, @target: all, @type: linear) {
	transition: @time @target @type;
	-webkit-transition: @time @target @type;
}

.box-shadow(@px1: 1px, @px2: 1px, @blur: 10px, @spread: 3px, @color: @black) {
	box-shadow: @px1 @px2 @blur @spread @color;
	-webkit-box-shadow: @px1 @px2 @blur @spread @color;
}

.text-shadow(@px1: 1px, @px2: 1px, @spread: 2px, @color: @black) {
	text-shadow: @px1 @px2 @spread @color;
}

.h-align {
	left: 50%;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}

.v-align {
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}

.v-h-align {
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
}

// reset
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin: 0;
	padding: 0;
	position: relative;
}

html,
body {
	font: 16px/1 @monoFont;
	height: 100%;
	overflow-x: hidden;
	width: 100%;
}

// main styles
body.preload * {
	transition: none !important;
	-webkit-transition: none !important;
}

header {
	z-index: 2;

	span {
		background-color: @white;
		border-radius: 2em;
		color: @blue;
		cursor: pointer;
		display: block;
		font-size: 10vw;
		height: 10vw;
		margin: 1rem;
		position: absolute;
		text-align: center;
		.transition();
		width: 10vw;

		&.nav-visible {
			transform: rotate(-180deg);
			-webkit-transform: rotate(-180deg);
		}
	}
}

nav {
	background-color: darken(@blue, 20%); 
	height: 100%;
	position: absolute;
	.transition();
	width: 50%;

	&.nav-visible {
		width: 80%;
	}

	ul {
		list-style: none;
		.v-align;
		width: 100%;

		li {
			a,
			a:link,
			a:visited,
			a:hover,
			&:active {
				color: @white;
				display: inline-block;
				padding: 1rem;
				text-decoration: none;
				width: 100%;
			}
			a:hover {
				background: darken(@blue, 10%);

				&:after {
					content: " →";
				}
			}
		}
	}
}

main {
	background-color: lighten(@blue, 30%);
	//.gradient(@blue, lighten(@blue, 20%));
	height: 100%;
	.transition(300ms, all, linear);
	width: 100%;

	&.nav-visible {
		margin-left: 80%;
	}
}

.welcome {
	color: darken(@blue, 20%);
	.v-h-align;
	width: 70%;
	z-index: 1;

	h2 {
		padding: 0 0 1rem 0;
		//.text-shadow(1px, 1px, 1px, darken(@blue, 20%));
	}

	p {
	}
}

// media queries

